<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  {{ partial "head.html" . }}
  <body>
    <div id="layout" class="">
      {{ partial "menu.html" . }}
      <div id="main">
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
      </div>
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
