{{ define "main" }}
  <div class="header">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="content">
    {{ if .Content }}
    <div class="box">
      {{ .Content }}
    </div>
    {{ end }}
    <div class="posts">

    {{ range .Pages.ByPublishDate.Reverse }}
    <section class="post">
      <header class="post-header">
        <a href="{{ .Permalink }}"><h2 class="post-title">{{ .Title }}</h2></a>
        {{ partial "post-meta" . }}
      </header>

      <div class="post-description">
        <p>
          {{ .Summary | safeHTML }}
          {{ if .Truncated }}
          <a class="readmore" href="{{ .Permalink }}">Read more...</a>
          {{ end }}
        </p>
      </div>
    </section>
    {{ end }}

    </div>
  </div>
{{ end }}
