{{ define "main" }}
  <div class="header">
    <h1>{{ .Title }}</h1>
    {{ if .Params.subtitle }}
    <h2>{{ .Params.subtitle | plainify }}</h2>
    {{ end }}
  </div>
  <div class="content">
    {{ if ne .Params.toc false }}
      {{ partial "toc" . }}
    {{ end }}

    {{ .Content }}
  </div>
{{ end }}
