body {
    color: rgb(88, 88, 88);
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    font-family: Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.01em;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#main {
    height: 100vh;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    display: flex;
    flex-direcion: row;
    min-height: 100vh;
}

/*
The content `<div>` is where all your content goes.
*/
.flex-row {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
}

.content {
    flex: 1 1 auto;
    margin: 0 2em 0 2em;
    line-height: 1.6em;
    max-width: 800px;
    z-index: 1;
}

.sidebox {
    flex: 0 1 auto;
    margin: 0;
    max-width: 250px;
    z-index: 1;
}

.footer {
    flex-shrink: 0;
    margin: 0;
    font-size: 0.9em;
    background-color: #ebebeb;
}
    .footer-content {
        padding: 2em 2em 0.5em 2em;
    }

.header {
     margin: 0 2em 1.2em 2em;
     padding: 0.65em 0 0 0;
     color: #333;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #888;
        padding: 0;
        margin-top: 0;
    }

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    width: 150px;
    height: 100vh;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: rgb(41,102,177);
    background: linear-gradient(36deg, rgba(41,102,177,0.5) 0%, rgba(34,153,213,0.5) 28%, rgba(72,174,77,0.5) 100%);
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: rgb(41,102,177);
        border: none;
        padding: 0.6em 1.2em;
    }

    #menu .pure-menu {
        flex: 1 0 auto;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        /* border-top: 1px solid #333; */
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            /* background: #333; */
            background: #69b5b3;
            background: rgba(41,102,177,0.3);
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected {
        background: rgb(41,102,177);
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu #logo-home-href {
        display: block;
        text-indent: -19999px;/*to hide the Home text in the link*/
        margin: 0;
        margin: 1.6em 1.4em 1.6em 1.4em;
        background-image: url('/images/sentinel_white.png');
        background-size: 98px 45px;
        background-repeat: no-repeat;
        height: 1.8em;
    }

    #menu #logo-home-href:hover {
        background-image: url('/images/sentinel_logo.png');
    }


/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10000;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .menu-link {
        position: fixed;
        display: none;
    }

}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #menu {
        margin-left: -150px;
    }

    #layout.active {
        margin-left: 150px;
    }
}

/* BLOG CONTENT */

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    margin-top: 3em;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    color: rgb(88, 88, 88);
    margin-bottom: 0.2em;
}
    .post-title:hover {
        color: rgb(41,102,177);
    }
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-meta-header-p {
    margin-bottom: 1em;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-news {
        background: #5aba59;
    }
    .post-category-media {
        background: #4d85d1;
    }
    .post-category-events {
        background: #8156a7;
    }
    .post-category-outputs {
        background: #df2d4f;
    }
    .post-category:hover {
        color: #fff;
        opacity: 0.7;
        border-bottom: none;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}


/* ***** */

.sentinel-title {
    padding: 1.1em 0;
    max-width: 100%;
}

.partner-logo-row {
    text-align: center;
    height: 60px;
}

    .partner-logo-row img {
        max-width: 160px;
        max-height: 60px;
    }

p + h2, table + h2, img + h2, figure + h2, .toc + h2 {
    margin-top: 2em;
}

a {
    color: rgb(41,102,177);
    text-decoration: none;
}

a:hover {
    color: #444;
    border-bottom: 2px solid #e9e9e9;
}

p img {
    max-width: 100%;
}

.box {
    position: relative;
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1.0em;
    border: 1px solid #e9e9e9;
    background-color: #f3f3f3;
}

.box.toc {
    padding: 0.5em 1em 0.5em 0em;
}

#social-icon-menu {
    padding: 2.0em 1.0em 0.5em 1.0em;
}

.social-icon {
    display: block;
    float: left;
    text-align: center;
}
    .social-icon + .social-icon {
        margin-left: 0.5em;
    }
    #menu .social-icon a {
        padding: 0;
    }

.pure-form textarea {
    max-width: 60vw;
}
