<div class="footer">
    <div class="footer-content">
      <img src="{{ "images/eu_flag.jpg" | absURL }}" width=100 alt="EU Flag">
      <p>This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement No 837089.</p>
    </div>
  </div>
