<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="canonical" href="{{ .Permalink }}">

  {{ hugo.Generator }}

  {{ if .Params.description }}
  <meta name="description" content="{{ .Params.description | plainify }}">
  {{ end }}

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="apple-touch-icon" type="image/png"  href="/images/touchicon.png">

  <link rel="preload" href="/images/sentinel_white.png" as="image">
  <link rel="preload" href="/images/sentinel_logo.png" as="image">

  {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ partial "css.html" . }}

  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>
