<a href="#menu" id="menuLink" class="menu-link" aria-hidden="true">
    <!-- Hamburger icon -->
  <span></span>
</a>

<div id="menu">
  <div class="pure-menu">
    <a href="/" aria-label="{{ .Site.Title }}" id="logo-home-href">SENTINEL</a>
    {{ $current := . }}
    <ul class="pure-menu-list">
    {{ range .Site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Updates") (eq $current.Section "posts")) }}
      {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
      <li class="pure-menu-item {{ if $active }}pure-menu-selected{{ end }}">
        <a href="{{ .URL }}" class="pure-menu-link" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
      </li>
    {{ end }}
    </ul>
  </div>
  <div id="social-icon-menu">
    <ul class="pure-menu-list">
      <!-- <li class="social-icon"><a href="/page/contact"><img src="{{ "images/iconmonstr-email-10-48.png" | absURL }}" width=24 title="Contact" alt="Contact"></a></li> -->
      {{ if .Site.Params.twitterLink }}
      <li class="social-icon"><a href="{{ .Site.Params.twitterLink }}"><img src="{{ "images/iconmonstr-twitter-4-48.png" | absURL }}" width=32 title="Twitter"  alt="Twitter"></a></li>
      {{ end }}
      {{ if .Site.Params.linkedInLink }}
      <li class="social-icon"><a href="{{ .Site.Params.linkedInLink }}"><img src="{{ "images/iconmonstr-linkedin-4-48.png" | absURL }}" width=32 title="LinkedIn"  alt="LinkedIn"></a></li>
      {{ end }}
      {{ if .Site.Params.gitHubLink }}
      <li class="social-icon"><a href="{{ .Site.Params.gitHubLink }}"><img src="{{ "images/iconmonstr-github-1-48.png" | absURL }}" width=32 title="GitHub"  alt="GitHub"></a></li>
      {{ end }}
    </ul>
  </div>
</div>