<p class="post-meta post-meta-header-p">
    {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
    {{ $publishDate := .PublishDate }}

    <strong aria-hidden="true">Published </strong>{{ $publishDate.Format $dateFormat }}
    {{ with .Lastmod }}
        {{ if gt . $publishDate }}
        <strong aria-hidden="true"> (Updated </strong>{{ .Format $dateFormat }})
        {{ end }}
    {{ end }}

    {{ if .Params.author }}
    {{ if .Params.author_url }}
    <span class="author">| <strong>Written by </strong><a href="{{ .Params.author_url }}">{{ .Params.author }}</a></span>
    {{ else }}
    <span class="author">| <strong>Written by </strong>{{ .Params.author }}</span>
    {{ end }}
    {{ end }}

    {{ if .Params.tags }}
    <span class="tags"> | <strong>Tagged </strong>
    {{ with .Params.tags}}
        {{ range . }}
            <a class="post-category post-category-{{ . | lower }}" href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
        {{ end }}
    {{ end }}
    </span>
    {{ end }}
</p>
