{{ define "main" }}
  <div class="header">
    <h1>Not found</h1>
  </div>
  <div class="content">
    <p>The page you were looking for cannot be found. Try going back to the <a href="/">home page</a>.</p>
  </div>
{{ end }}
