{{ define "main" }}
  <div class="header">
    <img class="sentinel-title" src="{{ "images/sentinel_title_with_claim.png" | absURL }}" width=380 alt="SENTINEL">
  </div>

  <div class="flex-row">

    <div class="content">
      {{ .Content }}

      {{ if first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
      <h1 class="content-subhead">Recent Posts</h1>
      <div class="posts">
        {{ range first 5 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
        <section class="post">
          <header class="post-header">
            <a href="{{ .Permalink }}"><h2 class="post-title">{{ .Title }}</h2></a>
            {{ partial "post-meta" . }}
          </header>

          <div class="post-description">
            <p>
              {{ .Summary | safeHTML }}
              {{ if .Truncated }}
              <a class="readmore" href="{{ .Permalink }}">Read more...</a>
              {{ end }}
            </p>
          </div>
        </section>
        {{ end }}
      </div>
      {{ end }}
    </div>

    <div class="sidebox">
      <a class="twitter-timeline" data-lang="en" data-width="250" data-dnt="true" href="https://twitter.com/SentinelEnergy?ref_src=twsrc%5Etfw">Tweets by SentinelEnergy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </div>
{{ end }}
